<div class="row">
  <div class="span12">
<%= form_for(@liste, remote: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :bane %>
    <%= f.text_field :bane, :size=>45 %>

    <%= f.label :navn %>
    <%= f.text_field :navn, class: "input-mir" %>

    <%= f.label :beskrivelse %>
    <%= f.text_field :beskrivelse %>


  </div>


  </div>
</div>


<% if current_user.admin? %>
<div class="row">
  <div class="span12">
    <div class="gruppebokser">
      <%=  collection_check_boxes(:liste, :group_ids, Group.all, :id, :navn) do |b| -%>
      <span class="sjekkbokser"> <%= b.label(class: "sjekkboks") { b.check_box(class: "sjekkboks") + b.text} -%> </span> 
      <% end -%>
      <% end -%>
      <%= f.submit "Save changes", class: "btn btn-sm btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
