<%= form_for(@change) do |f| %>
<input type="hidden" name="change[listbane]" value="<%= @liste.bane %>">

<% if @change.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@change.errors.count, "error") %> prohibited this change from being saved:</h2>
  <ul>
    <% @change.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h2 class="ui-widget-header">Subscribers</h2>
        <div id="members">
          <div>
            <% @subscribers.each_line do |single| -%>        
            <ul>
              <li><%= single %></li>
            </ul>
            <% end %>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div id="cart">
        <h2 class="ui-widget-header">Unsubscribe</h2>
        <div class="ui-widget-content">
          <ol>
            <li class="placeholder">Drag email you will remove here</li>
            <li class="hidden">test</li>
          </ol>
          <textarea name="change[removed_adresses]" id="unsub" cols="20" rows="20">
          </textarea>

        </div>
      </div>
    </div>
    <div class="col-md-3">

      <div id="subscribe">
        <h2 class="ui-widget-header">Subscribe</h2>
        <textarea name="change[added_adresses]" id="sub" class="form-control" rows="3">
        </textarea>
      </div>  
    </div>  
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="actions">
        <%= f.submit %>
      </div>

    </div>
  </div>
</div>
<% end %>
